body {
  background: url(/Images/Background\ Image.png) no-repeat center center fixed;
  background-size: cover;
  display: flex;
}

#sidebar {
  width: 30%;
  position: fixed;
}
main {
  width: 70%;
  margin-left: 30%;
}

#profile {
  border-radius: 100%;
}
nav {
  display: flex;
  align-items: top;
  list-style: none;
  padding: 0;
}
nav h2 {
  margin-block-start: 20px;
}
nav img {
  inline-size: 150px;
}
ul {
  display: flex;
  list-style: none;
  padding: 0;
}
ul li {
  margin: 0 10px;
}
ul li a {
  color: blue;
  text-decoration: none;
  padding: 10px;
  transform: color 0.3s ease, background-color 0.3s ease;
}
ul li a:hover {
  color: chartreuse;
  background-color: red;
  border-radius: 10px;
  padding: 5px;
}
table {
  inline-size: 100%;
  border-collapse: collapse;
  margin-block-start: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}
th {
  background-color: #007bff;
  color: white;
  font-weight: bold;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:hover {
  background-color: #ddd;
  transition: 0.3s ease-in-out;
}
.input-field {
  max-inline-size: 500px;
  margin: 20px auto;
  padding: 20px;
  color: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(red, green, blue, alpha);
}

.input-field label {
  color: white;
  font-family: italic;
}
button {
  inline-size: 100%;
  background: #007bff;
  color: white;
  border: none;
  font-size: 15px;
  cursor: grab;
  transition: background 0.3s;
}
button:hover {
  background: #0056b3;
}
div {
  max-inline-size: 1400px;
  margin: 30px auto;
  text-align: center;
}
h4,
h5 {
  color: white;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
p {
  text-align: justify;
  color: white;
  font-size: 16px;
}
video {
  inline-size: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
h2 {
  color: blue;
}
.input-field {
  display: flex;
  flex-direction: column;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
